header {
    width: 100%;
    display: flex;
    background: linear-gradient(#58181F, #000);
    color: white;
    align-items: center;

}
.ulList {
    text-align: right;

}
.list {
    display: inline-block;
    display: inline;
    padding: 0 10px;

}

a:hover {
    opacity: 0.5;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/*.main {
    height: 300px;
    width: 100%;
}*/
